<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/3e867150af.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/style.css">
    <title>Document</title>
</head>
<body>
    <header>
       <div class="navbar">
        <a href="/instructors">Instrutores</a>
        <a href="/members">Membros</a>
       </div>
    </header>

    {% block content %}
    
    {% endblock%}
<script src="../public/scripts.js"></script>


</script>
</body>

</html>