 <div class="item">
                <div>Foto Perfil</div>
                <div><input type="url" name="avatar_url" placeholder="http://" value="{{instructor.avatar_url}}"></div>
            </div>

            <div class="item">
                <div>Nome</div>
                <div><input type="text" id="name" name="name" placeholder="Seu Nome" value={{instructor.name}}></div>
            </div>

            <div class="item">
                <div>Data nascimento</div>
                <div><input type="date" name="birth" value={{instructor.birth}}></div>
            </div>

        <div class="item">
            <div>Genero</div>
                <div>
                    <span><input type="radio" name="gender" value="M" checked>Masculino</span>
                    <span><input type="radio" name="gender" value="F">Feminino</span>
                </div>
            
        </div>

        <div class="item">
            <div>Especialidades</div>
            <div>
                <input type="text" name="services" placeholder="Separe os serviços por virgulas" value="{{instructor.services}}">
            </div>
        </div>

        <button type="submit">Salvar</button>