{% extends 'layout.njk' %}

{% block content %}

    <div class="card container table-container">
        <div class="header">
            <a href="/members/create" class="button">novo</a>
            <form action="/members" method="GET">
                <input type="text" name="filter" placeholder="Nome ou Acompanhamento" value="{{ filter }}">
                <button type="submit" class="button">Filtrar</button>
            </form>
        </div>
        <table>
            <thead>
                <tr>
                    <th>Nome</th>
                    <th class="can-hide-2">email</th>
                    <th class="can-hide">objetivo</th>
                    <th>Ação</th>
                </tr>
            </thead>
            <tbody>
                {% for member in members %}
                    <tr>
                        <td>
                            <div>
                                <span style="background-image: url({{ member.avatar_url }})"></span>
                                {{ member.name }}
                            </div>
                        </td>
                        <td class="can-hide-2">
                            <div>
                                
                                    <span class="label">{{ member.email }}</span>
                                
                            </div>
                        </td>
                        <td class="can-hide">
                            {{ member.goals }}
                        </td>
                        <td>
                            <a href="/members/{{ member.id }}" class="button">ver</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    <div 
        class="pagination" 
        data-page="{{ pagination.page }}" 
        data-total="{{ pagination.total }}" 
        data-filter="{{ filter }}">
    </div>
    </div>

{% endblock content %}