<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/3e867150af.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="style.css">
    <title>Document</title>
</head>
<body>
    <header>
       <div class="navbar">
        <a href="http://">Sobre</a>
        <a href="http://">Aulas</a>
       </div>
    </header>

    <div class="wrapper">
        <h1>Aulas</h1>
    </div>

    <section class="cards">
        <div class="card" id="FsbvGMkPHBQ">
            <div class="card_img_container">
                <img src="http://i3.ytimg.com/vi/FsbvGMkPHBQ/maxresdefault.jpg" alt="">
            </div>
            <div class="card_content">
                <p>Aula 01</p>
            </div>
            <div class="card_info">
                <p>30min</p>
                <p class="card_price">Free</p>
            </div>
        </div>

               <div class="card" id="oxJ8Af2dn8w">
            <div class="card_img_container">
                <img src="http://i3.ytimg.com/vi/oxJ8Af2dn8w/maxresdefault.jpg" alt="">
            </div>
            <div class="card_content">
                <p>Aula 01</p>
            </div>
            <div class="card_info">
                <p>30min</p>
                <p class="card_price">Free</p>
            </div>
        </div>


               <div class="card" id="FsbvGMkPHBQ">
            <div class="card_img_container">
                <img src="http://i3.ytimg.com/vi/FsbvGMkPHBQ/maxresdefault.jpg" alt="">
            </div>
            <div class="card_content">
                <p>Aula 01</p>
            </div>
            <div class="card_info">
                <p>30min</p>
                <p class="card_price">Free</p>
            </div>
        </div>
    </section>


    <div class="modal-overlay">
        <div class="modal">
            <a class="close_modal"><i class="fas fa-times-circle fa-3x"></i></a>

            <div class="modal_content">
                <iframe src="https://youtube.com/embed/aCaZFks8gro" frameborder="0"></iframe>
            </div>
        </div>
    </div>

    <script src="scripts.js"></script>
</body>
</html>