<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/3e867150af.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/style.css">
    <title>Document</title>
</head>
<body>
    <header>
       <div class="navbar">
        <a href="/">Sobre</a>
        <a href="/classes">Aulas</a>
       </div>
    </header>

    <div class="wrapper">
        <img src="https://avatars1.githubusercontent.com/u/6987872?s=460&u=c8f9761fa22e3928c1518c2ec252e85fa7dd6080&v=4" alt="" srcset="">
        <h1>Ettore Muniz</h1>
        <h2>Estudante de Programação</h2>
        <p>aprendendo alguma coisa</p>
    </div>

    <div class="socialmedia">
        <a href="https://github.com/galetz" target="blank"><i class="fab fa-github fa-2x"></i></a>
        <a href="https://github.com/galetz"><i class="fab fa-facebook fa-2x"></i></a>
        <a href=""><i class="fab fa-instagram fa-2x"></i></a>
    </div>

    
</body>
</html>